{% extends "base.html" %}
{% block title %}Desafio Inquest{% endblock %}
{% block content %}
<style>body{background: white}</style>
<div style="border-style:solid; border-color:#a02c89; border-top-width: 2px"></div>
<div style="color: #4a4a4a; margin: 35px; line-height: 1.5; text-align:center">
    <h2>Lista de bens:</h2>
</div>
<div class="table-responsive-lg">
  <table class="table table-bordered table-hover table-sm">
    <caption>Lista de bens</caption>
    <thead class="thead-light">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Situação</th>
      </tr>
    </thead>
    <tbody>
        {% for row in rows %}
      <tr>
        <td>{{ row['bens_id'] }}</td>
        <td>{{ row['bens_descricao'] }}</td>
        <td>{{ row['bens_situacao'] }}</td>
      </tr>
        {%  endfor %}
    </tbody>
  </table>
</div>
{% endblock %}