{% extends "base.html" %}
{% block title %}Desafio Inquest{% endblock %}
{% block content %}
<style>body{background: white}</style>
<div style="border-style:solid; border-color:#a02c89; border-top-width: 2px"></div>
<div style="background-color:white">
    <p style="color: #4a4a4a; font-size:28px; font-style: italic; margin: 130px; line-height: 1.5; text-align: center;">
        <b>404</b> - Página não encontrada: <b>{{pagina}}</b><br>
        Desculpe, a página que você solicitou não foi localizada.<br>
</div>
{% endblock %}